<input [ngModel]="userName" (ngModelChange)="onNameChange($event)"/>

<div>
    <div id="div2" [class.isyellowbox]="isYellow"></div>
    <div id="div2" [class.isbluebox]="!isYellow"></div>
    <input type="checkbox" [(ngModel)]="isYellow" />
</div>

<div>
    <div id="div2" [style.backgroundColor]="isYellow2? 'blue' : 'yellow'"></div>
    <div id="div2" [style.backgroundColor]="!isYellow2? 'blue' : 'yellow'"></div>
    <input type="checkbox" [(ngModel)]="isYellow2" />
</div>

<div>
    <button (click)="change(true)">+</button>
    <button (click)="change(false)">-</button>
</div>