<h1>Hello Angular, Я - {{name}} {{company}}, Мне {{age}}</h1>
<!--Варианты биндингов-->
<!-- <input readonly="true" type="text" [value]="name" /> -->
<!-- <p [textContent]="name"></p> -->
<p #userName>{{name}}</p>
<div>
    <p>Имя пользователя: {{userName}}</p>
    <p>Возраст пользователя: {{userAge}}</p> 
</div>
<div>
    <p>Произошло событий в этот момент: {{count}}</p>
    <button (click)="increase($event)">Click</button>
</div>
<div>
    <input type="text" value="{{name}}" /> <br><br>
<!--     <input type="text" [(ngModel)]="name" />
 --></div>

<!-- <input [ngModel]="userName" (ngModelChange)="onNameChange($event)">
 -->
<div>
    <ng-content></ng-content>
    <button (click)="change()">Изменить</button>
</div>


