<h1>Hello Angular, Я - {{name}} {{company}}, Мне {{age}}</h1>
<!--Варианты биндингов-->
<!-- <input readonly="true" type="text" [value]="name" /> -->
<!-- <p [textContent]="name"></p> -->
<div>
    <p>Количество кликов {{count}}</p>
    <button (click)="increase($event)">Click</button>
</div>
<div>
    <input type="text" value="{{name}}" /> <br><br>
    <input type="text" [(ngModel)]="name" />
</div>

<h2>Подзаголовок from html</h2>
<p>Angular 15 представляет модульную архитектуру приложения</p>
